/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
td, th {
  padding: 3px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table.bordered tr {
  border: 1px solid #d0d0d0;
}

@media only screen and (min-width: 1200px) {
    html {
      font-size: 10px; }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 100%; } }

.groupNameWidth {
  width:100px;
}
